<%= form_for(link) do |f| %>
  <label>URL: </label><%= f.text_field :url %>
  <br />
	<% @tags.each do |tag| %>
		<%= check_box_tag "link[tag_ids][]", tag.id, link.tags.include?(tag) %><%= tag.name %><br />
	<% end %>
  <%= f.submit "Save" %>
<% end %>